.search_button{
  background: transparent;
  font-family: Neutrons;
  position: relative;
  color: rgb(54, 132, 168);
  top: -8.9cm;
  left: 16cm;
  width: 100px;
  height: 40px;
  text-align: left;
  font-size: 21px;
  border-color: aqua;
  font-weight: 400;
  border-radius: 0px;
  letter-spacing: 0px;
  transition: 2s;
  transition: color 0.5s;
}
.search_button:hover {
  cursor: pointer;
  box-shadow: 0 2px 50px 0 aqua, 0 20px 100px 0 aqua;
  transition: 1s;
  background-color: #cf11c6;
  color: aqua;
}
.close_button {
  background: transparent;
  color: aquamarine;
  border-color: aqua;
  position: inherit;
  transition: 0.5s;
  padding-left: 10px;
  padding-right: 10px;
  left: 26.2cm;
  padding-bottom: 0px;
  position: relative;
  text-align: center;
  font-size: 14px;
  transition: background-color 2s;
}
.close_button:hover {
  cursor: pointer;
  box-shadow: 0 2px 50px 0 aqua, 0 20px 100px 0 aqua;
  transition: 0.5s;
  background-color: rgb(133, 35, 133);
}
.minimize_button {
  background: transparent;
  color: aquamarine;
  border-color: aqua;
  transition: 0.5s;
  padding-left: 10px;
  padding-right: 10px;
  left: 22.4cm;
  padding-bottom: 0px;
  position: relative;
  text-align: center;
  font-size: 14px;
  transition: background-color 2s;
}
.minimize_button:hover {
  cursor: pointer;
  box-shadow: 0 2px 50px 0 aqua, 0 20px 100px 0 aqua;
  transition: 0.5s;
  background-color: rgb(133, 35, 133);
}
.max_button {
  background: transparent;
  color: aquamarine;
  border-color: aqua;
  transition: 0.5s;
  padding-left: 10px;
  padding-right: 10px;
  left: 24.3cm;
  padding-bottom: 0px;
  position: relative;
  text-align: center;
  font-size: 14px;
  transition: background-color 2s;
}

.max_button:hover {
  cursor: pointer;
  box-shadow: 0 2px 50px 0 aqua, 0 20px 100px 0 aqua;
  transition: 0.5s;
  background-color: rgb(133, 35, 133);
}
