*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::placeholder { 
  color: rgb(38, 0, 255);
  opacity: 0.7; 
}
:root{
  --primary:aquamarine;
  --secondary:aqua;
  --alternative:rgb(30, 16, 78);
  --light_aqua:#1ab4ad;
  --text_color:#b6b6b6;
  --button_hover:rgb(133, 35, 133);
  --search_bar_postion:350px;
  --search_bar_size:500px;
  --indicator:1;
  --button_position:-6.9cm;
}



body {
  font-family: "Convergence", sans-serif;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: #060b23;
  overflow: hidden;
  transform: 600ms;
}
body::-webkit-scrollbar {
  width: 4px;               
}

body::-webkit-scrollbar-track {
  background: purple;        
}

body::-webkit-scrollbar-thumb {   
  border-radius: 20px;       
  border: 3px solid aqua;  
}
.form {
  position: relative;
  width: 20rem;
  height: 3rem;
}
.form_inp{
  position: absolute;
  top: var(--search_bar_postion);
  left: 81px;
  width: var(--search_bar_size);
  height: 40px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 0.5rem;
  font-family: Aged;
  font-size: 40px;
  outline: none;
  padding: 1.25rem;
  background: none;
  color:rgb(226, 222, 0);
}
.form_inp:hover{
  border-color: var(--secondary);
}
.form_inp:focus{
  border-color: #adffff;
}
.for_label {
  position: absolute;
  left: 5rem;
  top: 360px;
  padding: 0 0.5rem;
  color: white;
  cursor: text;
  font-family: Aged;
  font-size: 20px;
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
}

.form_inp:focus ~ .for_label,
.for_inp:not(:placeholder-shown).for_inp:not(:focus) ~ .for_label {
  opacity: 0;
}
.backg { 
  top: 1000px;
  max-width: 100%;
  height: auto;
  min-height: 500px;
  transition: 600ms;
}  

h1{
  position: fixed;
}