.navbar {
  position: fixed;
  background-color: rgb(30, 16, 78);
  transition: width 600ms ease;
  overflow: hidden;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-GNIME {
  display: flex;
  align-items: left;
  padding-top: 0.5cm;
  text-align: left;
  font-family: myboi;
  height: 5rem;
  font-size: 25px;
  color: aqua;
  text-decoration: none;
  transition: 600ms;
}

.nav-second-feature {
  display: flex;
  align-items: center;
  font-family: Neutrons;
  height: 5rem;
  color: #b6b6b6;
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: 600ms;
}

.nav-second-feature:hover {
  filter: grayscale(0%) opacity(1);
  background-position: right;
  background-color: #311330;
  background-size: 50px;
  background-repeat: no-repeat;
  color: #ececec;
}

.nav-third-feature {
  display: flex;
  align-items: center;
  font-family: Neutrons;
  height: 5rem;
  color: #b6b6b6;
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: 600ms;
}

.nav-third-feature:hover {
  filter: grayscale(0%) opacity(1);
  background-position: right;
  background-image: url("../images/onepiece.png");
  background-color: #311330;
  background-size: 50px;
  background-repeat: no-repeat;
  color: #ececec;
}

.nav-fourth-feature {
  display: flex;
  align-items: center;
  font-family: Neutrons;
  height: 5rem;
  color: #b6b6b6;
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: 600ms;
}

.nav-fourth-feature:hover {
  filter: grayscale(0%) opacity(1);
  background-image: url("../images/bocku_no.png");
  background-position: right;
  background-color: #311330;
  background-size: 50px;
  background-repeat: no-repeat;
  color: #ececec;
}

.nav-credit {
  display: flex;
  align-items: center;
  font-family: Neutrons;
  height: 5rem;
  color: #b6b6b6;
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: 600ms;
}

.nav-credit:hover {
  filter: grayscale(0%) opacity(1);
  background-position: right;
  background-color: #311330;
  background-size: 50px;
  background-repeat: no-repeat;
  color: #ececec;
}
.link-text {
  display: none;
  margin-left: 1rem;
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 4rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 10rem;
    overflow-y: visible;
    overflow-x: hidden;
  }
  .navbar:hover ~ .form_inp {
    left: 4.2cm;
    transition: 600ms;
  }
  .navbar:hover ~ .for_label {
    left: 4.5cm;
    transition: 600ms;
  }
  .navbar:hover ~ .sol {
    left: 10cm;
    transition: 600ms;
  }
  .navbar:not(:hover) ~ .form_inp {
    left: 81px;
    transition: 600ms;
  }
  .navbar:not(:hover) ~ .for_label {
    left: 5rem;
    transition: 600ms;
  }
  .navbar:hover ~ .Download_button {
    left: 18cm;
    transition: 600ms;
  }
  .navbar:not(:hover) ~ .Download_button {
    left: 16cm;
    transition: 600ms;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text {
    left: 0px;
  }
}
